<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258335322797-6kk9q5fjh7v1gpo5qcireqsg62gn09f6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258335322797-6kk9q5fjh7v1gpo5qcireqsg62gn09f6</string>
	<key>API_KEY</key>
	<string>AIzaSyBvw1_1F-QlO-aqtrdRLA2B_tz0F_AXQYw</string>
	<key>GCM_SENDER_ID</key>
	<string>258335322797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pop.insta</string>
	<key>PROJECT_ID</key>
	<string>instagram-97f76</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-97f76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258335322797:ios:620b0300c6a2c3f2f78c24</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-97f76.firebaseio.com</string>
</dict>
</plist>